<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Elenco</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

<style>
img {
width: 5%;
}
tr,
td,
th
{
text-align: center;
}
</style>
</head>
<body>
<div class="container">
<h1>Recap dell'acquisto</h1>
 
      <table>
        <thead>
          <tr>
              <th>Nome prodotto</th>
              <th>Marca</th>
              
              <th>Immagine</th>
              <th>Qnt</th>
              <th>SubTotale</th>
          </tr>
        </thead>

<tbody>
  
  <tr th:each="prodotto : ${lista}">
    <td th:text="${prodotto.nome}"></td>
    <td th:text="${prodotto.marca}"></td>
    
    <td><img th:src="${prodotto.url}" /></td>
    <td th:text="${prodotto.pezzi}"> </td>
    <td>€<span th:text="${prodotto.prezzo}"></span></td>
  </tr>
  <tr> 
  <th></th>
              <th></th>
              
              <th></th>
              <th></th>
              <th>Totale: <span th:text = ${somma}></span></th>
  
  
  
  
   </tr>
  
  
</tbody>
      </table>
      
      <h3>La somma da pagare è: <span th:text=${somma}></span> euro</h3>
      
      
      
      <a href="/"><- Torna ad aggiungere prodotti</a>
      </div>
</body>
</html>